<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @space do |f| %>
        <div class="inputs">
          <%= f.input :name, required: true %>
          <%= f.input :address, required: true %>
          <%= f.input :city, required: true %>
          <%= f.input :country, required: true %>
          <%= f.input :description, required: true %>
          <%= f.collection_select :type_space, Space::TYPE_SPACE, :to_s, :to_s, include_blank: true, required: true%>
          <%= f.simple_fields_for :rate, @space.build_rate do |q|%>
            <%= q.input :hourly, label: "Hourly rate (€)" %>
            <%= q.input :daily, label: "Daily rate (€)" %>
            <%= q.input :weekly, label: "Weekly rate (€) " %>
            <%= q.input :monthly, label: "Monthly rate (€)" %>
          <%end%>
          <%= f.hidden_field :user_id, :value => current_user.id%>
          <%= f.input :photo, as: :attachinary %>
          <%= f.submit "Create Space", class: "btn btn-primary" %>
        </div>
      <% end %>
      <form action="/spaces" method="post"></form>
    </div>
  </div>
</div>
