<div class="container padded">
  <div class="show-space">
    <h1> <%= @space.name %> </h1>
    <h2> <%= @space.description %> </h2>
    <br>
    <p> <%= @space.address%>, <%= @space.city%>, <%= @space.country%></p>
    <p>
  </div>

  <% if @space.photo? %>
    <div class="gallery padded">
      <h3>Gallery</h3>
      <%= cl_image_tag @space.photo.path, height: 300, width: 400, crop: :fill %>
    </div>
  <% end %>
  <div class="options center">
    <% if @space.user_id == current_user.id %>


      <%= link_to 'Edit', edit_space_path(@space), class:"btn btn-primary" %>
      <%= link_to 'Delete', space_path(@space), method: :delete, class:"btn btn-primary" %>
      <% end %>
      <%= link_to 'Back', spaces_path, class:"btn btn-primary" %>
      <% if @space.user_id == current_user.id %>
        <div class="centered padded">
        <%= link_to 'Add availability',  new_space_listing_path(@space), class: "btn btn-warning" %>
        </div>
      <%else%>
      <div class="centered padded">
        <%= link_to 'Add booking',  new_space_booking_path(@space), class: "btn btn-warning" %>
        </div>
      <%end%>
    </div>

</div>
