<div class="container padded">
  <div class="show-space">
    <h2> <%= @space.name %> </h2>
    <p> <%= @space.description %> </p>
    <br>
    <p> Address: <%= @space.address%></p>
  </div>

  <% if @space.photo? %>
    <div class="gallery padded">
      <h3>Gallery</h3>
      <%= cl_image_tag @space.photo.path, height: 300, width: 400, crop: :fill %>
    </div>
  <% end %>

  <div class="options center">
    <% if @space.user_id == current_user.id %>
      <%= link_to 'Edit', edit_space_path(@space), class:"btn btn-primary" %>
      <%= link_to 'Delete', space_path(@space), method: :delete, class:"btn btn-primary" %>
      <% end %>
      <%= link_to 'Back', spaces_path, class:"btn btn-primary" %>
    </div>

</div>
