<%= content_for(:title) do %>
  <%= @space.name%>
<% end %>


<div class="container padded">
  <div class="show-space">
    <h1> <%= @space.name %> </h1>
    <h2> <%= @space.description %> </h2>
    <br>
    <p> <%= @space.address%>, <%= @space.city%>, <%= @space.country%></p>
    <br>

    <h4> <%=@space.type_space%></h4>
    <p> Per Month: <%= @space.rate.monthly%></p>

  </div>

  <% if @space.photo? %>
    <div class="gallery padded">
      <h3>Gallery</h3>
      <%= cl_image_tag @space.photo.path, height: 300, width: 400, crop: :fill %>
    </div>
  <% end %>
  <div class="options center">
    <% if @space.user_id == current_user.id %>
      <%= link_to 'Edit', edit_space_path(@space), class:"btn btn-primary" %>
      <%= link_to 'Delete', space_path(@space), method: :delete, class:"btn btn-primary" %>
      <% end %>
      <%= link_to 'Back', spaces_path, class:"btn btn-primary" %>
      <% if @space.user_id == current_user.id %>
        <div class="centered padded">
        <%= link_to 'Add availability',  new_space_listing_path(@space), class: "btn btn-warning" %>
        </div>
      <%else%>
      <div class="centered padded">
        <%= link_to 'Book',  new_space_booking_path(@space), class: "btn btn-warning" %>
        </div>
      <%end%>
    </div>
</div>



<%= content_for(:before_js) do %>
     <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <% end %>


<!-- here goes the map -->
<div id="map"></div>
  <% content_for(:after_js) do %>
  <script type = "text/javascript">
    $(document).ready(function() {
      var handler = Gmaps.build('Google');

      var styles = [
    {
        "featureType": "landscape.natural",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#e0efef"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "hue": "#1900ff"
            },
            {
                "color": "#c0e8e8"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 100
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "labels",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit.line",
        "elementType": "geometry",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "lightness": 700
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#7dcdcd"
            }
        ]
    }
];

console.log(styles);

      handler.buildMap({
        provider: {
          styles: styles
        },
        internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @space_coordinates.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>



