<div class="container margin_top">
  <h2>Add new booking</h2>

  <form action="/spaces/<%=@space.id%>/bookings" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class='col-md-5'>
        <div class="form-group">
            <input type="text" name="daterange" value="">
        </div>
    </div>
    <input type="hidden" name="booking[space_id]" value= <%=@space.id%> >
    <input type="hidden" name="booking[user_id]" value= <%=current_user.id%> >
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</div>


<script type="text/javascript">
  $(document).ready(function() {
      $('input[name="daterange"]').daterangepicker({
          timePicker: true,
          timePickerIncrement: 60,
          timePicker24Hour: true,
          locale: {
              format: 'DD/MM/YYYY hh:mm'
          },
          isInvalidDate: function(date){
            var invalidDates = <%= @unavailable_dates.to_json.html_safe %>;
            var dateString = date.toISOString().slice(0,10);
            if (!dateString) return false;
            return invalidDates.indexOf(dateString) > -1;
          },
          beforeShowDay: function(date){
            var disabledArr = <%= @listing_dates.to_json.html_safe %>;
            console.log(disabledArr)
            for(i=0;i<disabledArr.length;i++){
              var From = disabledArr[i].from.split("/");
              var To = disabledArr[i].to.split("/");
              var FromDate = new Date(From[2],From[1]-1,From[0]);
              var ToDate = new Date(To[2],To[1]-1,To[0]);
              var found=false;
              if(date>=FromDate && date<=ToDate){
                  found=true;
                  return [false, "red"];
              }
          }

        //At the end of the for loop, if the date wasn't found, return true.
        if(!found){
            return [true, ""]; // Return true (Not disabled) and no class.
        }
    }

      });

    $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
    $(this).val(picker.startDate.format('DD/MM/YYYY hh:mm A') + ' - ' + picker.endDate.format('DD/MM/YYYY hh:mm A'));
  });
  });
</script>

