
<div class="container">
  <h2>Add new booking</h2>

  <form action="/spaces/<%=@space.id%>/bookings" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class='col-sm-6'>
        <div class="form-group">
          <input type="text" name="daterange" value="" class="form-control">
        </div>
    </div>
    <input type="hidden" name="booking[space_id]" value= <%=@space.id%> >
    <input type="hidden" name="booking[user_id]" value= <%=current_user.id%> >
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>

</div>


<script type="text/javascript">
  function addMonths(date, months) {
    date.setMonth(date.getMonth() + months);
    return date;
  }
  var dateToday = Date.now();
  var fromNow = addMonths(new Date(), 6);

  $(document).ready(function() {
      $('input[name="daterange"]').daterangepicker({
          timePicker: true,
          timePickerIncrement: 60,
          timePicker24Hour: true,
          minDate: dateToday,
          maxDate: fromNow,
          locale: {
              format: 'DD/MM/YYYY hh:mm'
          },
          isInvalidDate: function(date){
            var invalidDates = <%= @dates.to_json.html_safe %>;


            var dateString = date.toISOString().slice(0,10);
            if (!dateString) return false;

            return invalidDates.indexOf(dateString) > -1;
          }
      });


    $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
    $(this).val(picker.startDate.format('DD/MM/YYYY hh:mm A') + ' - ' + picker.endDate.format('DD/MM/YYYY hh:mm A'));
  });
  });
</script>

