<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for @user do |f| %>
        <div class="inputs">
          <%= f.input :first_name, required: false %>
          <%= f.input :last_name, required: false %>
          <%= f.input :birth_date, required: false %>
          <%= f.input :address, required: false %>
          <%= f.input :city, required: false %>

          <%= f.submit "Submit changes", class: "btn btn-primary" %>
        </div>
      <% end %>
      <form action="/users" method="post"></form>
    </div>
  </div>
</div>
